# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List Data Science languages
- List Dastas science libraries
- List Data Science tools
- Show examples of arithmetic expressions
- Share notebook on GitHub

Some of the popular languages that Data Scientista use are:
1. Python
2. Julia
3. SQL
4. R
5. JavaScript
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. scikit-learn
3. NumPy
4. Pandas
5. Matplotlib
6. SciPy

|Data Science Tools|
-----
|Excel|
|Apache Hadoop|
|Apache Spark|
|Project Jupyter|
|PyTorch|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Purrpl1